<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            [routerLink]="['/home/carrito']"
            id="navbarDropdownMenuLink"
          >
            <i class="material-icons">shopping_cart </i>
            <span *ngIf="cantidadCarrito > 0" class="notification" >{{cantidadCarrito}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
